version: '3'

tasks:

  create-conda-env:
    desc: Create conda environment with PySpark 4.1.1, Jupyter, and OpenJDK 21
    cmds:
      - ./tasks/python/cmd/create-conda-env.sh
    preconditions:
      - sh: test -f environment.yml
        msg: "environment.yml not found in project root"
