version: '3'

tasks:

  make-s3-bucket:
    desc: Creates an s3 bucket.
    cmds:
      - ./tasks/aws-cli/cmd/make-bucket.sh "{{.S3_BUCKET_NAME}}" "{{.AWS_REGION}}"

  delete-s3-bucket:
    desc: Deletes an s3 bucket (must be empty).
    cmds:
      - ./tasks/aws-cli/cmd/delete-bucket.sh "{{.S3_BUCKET_NAME}}" "{{.FORCE}}"

  generate-iam-policy-for-s3-bucket-access:
    desc: Generates an IAM policy json document for accessing an s3 bucket from a template.
    vars:
      TEMPLATE_FILE: '{{.TEMPLATE_FILE | default "tasks/aws-cli/json/template/bucket-policy-template.json"}}'
      OUTPUT_FILE: '{{.OUTPUT_FILE | default "tasks/aws-cli/json/output/bucket-policy-output.json"}}'
    cmds:
      - ./tasks/aws-cli/cmd/generate-iam-policy-for-bucket-access.sh "{{.S3_BUCKET_NAME}}" "{{.TEMPLATE_FILE}}" "{{.OUTPUT_FILE}}" "{{.S3_PREFIX}}"

  create-iam-policy:
    desc: Creates an IAM policy from a JSON policy document and saves response to aws-output.json.
    cmds:
      - ./tasks/aws-cli/cmd/create-iam-policy.sh "{{.POLICY_NAME}}" "{{.POLICY_DOCUMENT}}"

  refresh-sso-token:
    desc: Refreshes the AWS SSO token for the specified profile.
    cmds:
      - aws sso login --profile "{{.AWS_PROFILE}}"

  list-profiles:
    desc: Lists all configured AWS profiles.
    cmds:
      - aws configure list-profiles
